Package: nm-exp-active-netrics
Version: 0.1.10
Section: custom
Priority: optional
Architecture: arm64
Essential: no
Installed-Size: 28192
Maintainer: gmartins
Homepage: https://github.com/chicago-cdac/nm-exp-active-netrics
Description: NetMicroscope Experiment - Active Measurements Netrics
Depends: net-tools, traceroute, dnsutils, nmap, tshark, logrotate
